doctype html
html(lang="en")
	include header
	body
		include nav
		.row(style="padding: 8px")
			// left panel - wiki list
			.col-md-3
				.panel.panel-default
					.panel-heading
						p.panel-title="Wikis"
					.panel-body
						ul.list-group
							each wiki in wikis
								li.list-group-item.wiki-item(data-name=wiki.name)
									a(href=wiki.href)=wiki.name
			// right panel - wiki preview
			.col-md-9
				.panel.panel-default
					.panel-heading
						p.panel-title="Preview"
					.panel-body.preview=""

		script(type='text/javascript').
			$(function(){
				// loads (readme|index) page
				$.fn.loadPreview = function(){
					$this = $(this);
					var name = $this.data('name');
					var url = "/preview/" + name;
					$.get(url).then(function(html){
							$('.preview').html(html);
					});
				};
				// load preview on click
				$('.wiki-item').click(function(){
					$(this).loadPreview();
				});
				// load preview of first wiki
				var first = $('.wiki-item').first();
				if (first.length) first.loadPreview();
			});
